<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="helpimnotdrowning" value="https://git.helpimnotdrowning.net/api/packages/helpimnotdrowning/nuget/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- this seems to prioritize from top to bottom, do not re-order! -->
    <packageSource key="helpimnotdrowning">
      <package pattern="Tailwind.Extensions.AspNetCore" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>