/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 * forked https://github.com/helpimnotdrowning/font-splitter
 */

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/001.woff2) format('woff2');
  unicode-range: U+20-7e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/002.woff2) format('woff2');
  unicode-range: U+a0-ff;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/003.woff2) format('woff2');
  unicode-range: U+100-17e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/004.woff2) format('woff2');
  unicode-range: U+192-237;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/005.woff2) format('woff2');
  unicode-range: U+250-2a2;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/006.woff2) format('woff2');
  unicode-range: U+2b0-2e9;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/007.woff2) format('woff2');
  unicode-range: U+300-361;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/008.woff2) format('woff2');
  unicode-range: U+384-3db;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/009.woff2) format('woff2');
  unicode-range: U+401-45f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/010.woff2) format('woff2');
  unicode-range: U+1e3e-1ebd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/011.woff2) format('woff2');
  unicode-range: U+1f70-1f73;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/012.woff2) format('woff2');
  unicode-range: U+2002-205d;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/013.woff2) format('woff2');
  unicode-range: U+2070-2089;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/014.woff2) format('woff2');
  unicode-range: U+20ac;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/015.woff2) format('woff2');
  unicode-range: U+20dd-20de;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/016.woff2) format('woff2');
  unicode-range: U+2100-213b;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/017.woff2) format('woff2');
  unicode-range: U+2150-2189;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/018.woff2) format('woff2');
  unicode-range: U+2190-21f5;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/019.woff2) format('woff2');
  unicode-range: U+2200-22db;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/020.woff2) format('woff2');
  unicode-range: U+2305-23ce;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/021.woff2) format('woff2');
  unicode-range: U+2423;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/022.woff2) format('woff2');
  unicode-range: U+2460-24e8;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/023.woff2) format('woff2');
  unicode-range: U+24e9-24ff;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/024.woff2) format('woff2');
  unicode-range: U+2500-2573;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/025.woff2) format('woff2');
  unicode-range: U+2581-2595;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/026.woff2) format('woff2');
  unicode-range: U+25a0-25ef;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/027.woff2) format('woff2');
  unicode-range: U+2600-26a0;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/028.woff2) format('woff2');
  unicode-range: U+2702-27a1;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/029.woff2) format('woff2');
  unicode-range: U+2934-2935;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/030.woff2) format('woff2');
  unicode-range: U+29bf-29fb;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/031.woff2) format('woff2');
  unicode-range: U+2b05-2b95;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/032.woff2) format('woff2');
  unicode-range: U+2e83-2ef2;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/033.woff2) format('woff2');
  unicode-range: U+2f00-2f7f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/034.woff2) format('woff2');
  unicode-range: U+2f80-2fd5;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/035.woff2) format('woff2');
  unicode-range: U+3000-303d;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/036.woff2) format('woff2');
  unicode-range: U+3041-309f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/037.woff2) format('woff2');
  unicode-range: U+30a0-30ff;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/038.woff2) format('woff2');
  unicode-range: U+3190-319f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/039.woff2) format('woff2');
  unicode-range: U+31f0-31ff;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/040.woff2) format('woff2');
  unicode-range: U+3220-32dc;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/041.woff2) format('woff2');
  unicode-range: U+32dd-32ff;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/042.woff2) format('woff2');
  unicode-range: U+3300-33d4;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/043.woff2) format('woff2');
  unicode-range: U+33d7-33da;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/044.woff2) format('woff2');
  unicode-range: U+3402-41ee;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/045.woff2) format('woff2');
  unicode-range: U+41f3-4d77;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/046.woff2) format('woff2');
  unicode-range: U+4e00-4ec1;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/047.woff2) format('woff2');
  unicode-range: U+4ec2-4f78;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/048.woff2) format('woff2');
  unicode-range: U+4f79-501f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/049.woff2) format('woff2');
  unicode-range: U+5021-50d9;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/050.woff2) format('woff2');
  unicode-range: U+50da-5183;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/051.woff2) format('woff2');
  unicode-range: U+5184-5231;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/052.woff2) format('woff2');
  unicode-range: U+5232-52df;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/053.woff2) format('woff2');
  unicode-range: U+52e0-537f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/054.woff2) format('woff2');
  unicode-range: U+5382-5435;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/055.woff2) format('woff2');
  unicode-range: U+5436-54fe;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/056.woff2) format('woff2');
  unicode-range: U+54ff-55e3;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/057.woff2) format('woff2');
  unicode-range: U+55e4-56c5;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/058.woff2) format('woff2');
  unicode-range: U+56c8-577e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/059.woff2) format('woff2');
  unicode-range: U+577f-5861;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/060.woff2) format('woff2');
  unicode-range: U+5862-5924;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/061.woff2) format('woff2');
  unicode-range: U+5925-59e6;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/062.woff2) format('woff2');
  unicode-range: U+59e7-5afd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/063.woff2) format('woff2');
  unicode-range: U+5b00-5bcd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/064.woff2) format('woff2');
  unicode-range: U+5bce-5c79;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/065.woff2) format('woff2');
  unicode-range: U+5c7a-5d79;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/066.woff2) format('woff2');
  unicode-range: U+5d7a-5e55;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/067.woff2) format('woff2');
  unicode-range: U+5e56-5f0c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/068.woff2) format('woff2');
  unicode-range: U+5f0d-5fac;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/069.woff2) format('woff2');
  unicode-range: U+5fad-606b;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/070.woff2) format('woff2');
  unicode-range: U+606c-611c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/071.woff2) format('woff2');
  unicode-range: U+611e-61de;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/072.woff2) format('woff2');
  unicode-range: U+61df-6294;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/073.woff2) format('woff2');
  unicode-range: U+6295-6366;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/074.woff2) format('woff2');
  unicode-range: U+6367-6430;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/075.woff2) format('woff2');
  unicode-range: U+6434-6516;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/076.woff2) format('woff2');
  unicode-range: U+6518-65d4;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/077.woff2) format('woff2');
  unicode-range: U+65d6-6679;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/078.woff2) format('woff2');
  unicode-range: U+667a-6738;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/079.woff2) format('woff2');
  unicode-range: U+673a-67ef;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/080.woff2) format('woff2');
  unicode-range: U+67f0-68ab;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/081.woff2) format('woff2');
  unicode-range: U+68ad-6965;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/082.woff2) format('woff2');
  unicode-range: U+6966-6a23;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/083.woff2) format('woff2');
  unicode-range: U+6a24-6b04;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/084.woff2) format('woff2');
  unicode-range: U+6b05-6bc3;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/085.woff2) format('woff2');
  unicode-range: U+6bc4-6c9a;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/086.woff2) format('woff2');
  unicode-range: U+6c9b-6d6c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/087.woff2) format('woff2');
  unicode-range: U+6d6e-6e36;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/088.woff2) format('woff2');
  unicode-range: U+6e38-6f10;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/089.woff2) format('woff2');
  unicode-range: U+6f11-6fe9;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/090.woff2) format('woff2');
  unicode-range: U+6feb-70fd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/091.woff2) format('woff2');
  unicode-range: U+7103-7208;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/092.woff2) format('woff2');
  unicode-range: U+7209-72e9;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/093.woff2) format('woff2');
  unicode-range: U+72ec-73bd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/094.woff2) format('woff2');
  unicode-range: U+73bf-7491;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/095.woff2) format('woff2');
  unicode-range: U+7492-754f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/096.woff2) format('woff2');
  unicode-range: U+7550-7601;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/097.woff2) format('woff2');
  unicode-range: U+7602-76b7;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/098.woff2) format('woff2');
  unicode-range: U+76b8-777e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/099.woff2) format('woff2');
  unicode-range: U+777f-787c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/100.woff2) format('woff2');
  unicode-range: U+787e-794f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/101.woff2) format('woff2');
  unicode-range: U+7950-7a1a;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/102.woff2) format('woff2');
  unicode-range: U+7a1b-7adf;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/103.woff2) format('woff2');
  unicode-range: U+7ae0-7b9f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/104.woff2) format('woff2');
  unicode-range: U+7ba0-7c60;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/105.woff2) format('woff2');
  unicode-range: U+7c61-7d1e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/106.woff2) format('woff2');
  unicode-range: U+7d20-7dcd;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/107.woff2) format('woff2');
  unicode-range: U+7dce-7e89;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/108.woff2) format('woff2');
  unicode-range: U+7e8a-7fe5;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/109.woff2) format('woff2');
  unicode-range: U+7fe6-80ad;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/110.woff2) format('woff2');
  unicode-range: U+80af-8186;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/111.woff2) format('woff2');
  unicode-range: U+8188-8237;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/112.woff2) format('woff2');
  unicode-range: U+8238-82f6;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/113.woff2) format('woff2');
  unicode-range: U+82f7-83cc;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/114.woff2) format('woff2');
  unicode-range: U+83ce-84b2;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/115.woff2) format('woff2');
  unicode-range: U+84b4-8581;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/116.woff2) format('woff2');
  unicode-range: U+8584-8654;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/117.woff2) format('woff2');
  unicode-range: U+8655-871c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/118.woff2) format('woff2');
  unicode-range: U+871e-87f8;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/119.woff2) format('woff2');
  unicode-range: U+87f9-88c0;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/120.woff2) format('woff2');
  unicode-range: U+88c1-8988;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/121.woff2) format('woff2');
  unicode-range: U+8989-8a58;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/122.woff2) format('woff2');
  unicode-range: U+8a5b-8b02;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/123.woff2) format('woff2');
  unicode-range: U+8b04-8c5a;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/124.woff2) format('woff2');
  unicode-range: U+8c5b-8d0b;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/125.woff2) format('woff2');
  unicode-range: U+8d0d-8e38;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/126.woff2) format('woff2');
  unicode-range: U+8e39-8f0c;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/127.woff2) format('woff2');
  unicode-range: U+8f0f-8feb;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/128.woff2) format('woff2');
  unicode-range: U+8fed-908b;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/129.woff2) format('woff2');
  unicode-range: U+908c-9165;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/130.woff2) format('woff2');
  unicode-range: U+9167-9216;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/131.woff2) format('woff2');
  unicode-range: U+9217-92d2;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/132.woff2) format('woff2');
  unicode-range: U+92d3-939a;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/133.woff2) format('woff2');
  unicode-range: U+939b-947e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/134.woff2) format('woff2');
  unicode-range: U+947f-965d;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/135.woff2) format('woff2');
  unicode-range: U+965e-9713;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/136.woff2) format('woff2');
  unicode-range: U+9714-97d1;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/137.woff2) format('woff2');
  unicode-range: U+97d3-98c5;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/138.woff2) format('woff2');
  unicode-range: U+98c6-99c4;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/139.woff2) format('woff2');
  unicode-range: U+99c5-9ac8;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/140.woff2) format('woff2');
  unicode-range: U+9ace-9b79;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/141.woff2) format('woff2');
  unicode-range: U+9b7f-9c35;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/142.woff2) format('woff2');
  unicode-range: U+9c36-9d6f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/143.woff2) format('woff2');
  unicode-range: U+9d70-9e9d;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/144.woff2) format('woff2');
  unicode-range: U+9e9e-9f61;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/145.woff2) format('woff2');
  unicode-range: U+9f62-9fb4;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/146.woff2) format('woff2');
  unicode-range: U+f860-f87f;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/147.woff2) format('woff2');
  unicode-range: U+f909-fa6a;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/148.woff2) format('woff2');
  unicode-range: U+fb00-fb04;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/149.woff2) format('woff2');
  unicode-range: U+fe10-fe19;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/150.woff2) format('woff2');
  unicode-range: U+fe30-fe48;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/151.woff2) format('woff2');
  unicode-range: U+ff01-ff80;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/152.woff2) format('woff2');
  unicode-range: U+ff81-ffe8;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/153.woff2) format('woff2');
  unicode-range: U+1f100;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/154.woff2) format('woff2');
  unicode-range: U+2000b-23763;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/155.woff2) format('woff2');
  unicode-range: U+23764-2770e;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/156.woff2) format('woff2');
  unicode-range: U+27723-2a6b2;
}

@font-face {
  font-family: IBM Plex Sans JP;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans JP'), local('IBMPlexSansJP'), url(/font/IBMPlexSansJP-Regular/157.woff2) format('woff2');
  unicode-range: U+2f804-2f9f4;
}
